body {
    font-family: "Kumar One";
    font-size: 32px;
    margin: 0;
    background-color: #eea4eb;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('taust.png');
    background-size: cover;
    filter: opacity(70%);
}

.background p {
    position: relative;
    z-index: 1;
    color: #000; /* Määrab selle, et tekst oleks endiselt must */
}

.button-text{
    font-family: "Kumar One";
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
}

.box {
    width: 400px;
    height: 600px;
    background-color: #8a80cc;
    border: 4px solid black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 125px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.small-box-white {
    flex: 1 0 20%;
    height: 20%;
    background-color: white;
}

.small-box-purple {
    flex: 1 0 20%;
    height: 20%;
    border-radius: 8px;
    background-color: #8a80cc;
}

button.small-box-purple {
    border: none; /* Eemaldab nuppudelt ära piirjooned */
    height: 19%;
}

.text-box input {
    border: none; /* See eemaldab piirjoone */
    border-radius: 8px; /* Lisab kasti ümber ümardatud nurgad */
    width: 90%; /* Täidab kogu laiuse, mida tema vanem elemendid lubavad */
    padding: 10px;
    text-align: center;
    font-family: "Kumar One";
    font-size: 32px;
}

.small-round-box{
    width: 300px;
    height: 50px;
    background-color: #8a80cc;
    border: 4px solid black;
    border-radius: 25px;
    position: absolute;
    top: calc(53% + 300px); /* Lisab väikese kasti suure kasti alla */
    left: 50%; /* Keskel horisontaalselt */
    transform: translateX(-50%);
    display: flex; /* Lisab flex-konteineri */
    justify-content: center; /* Horisontaalselt keskel */
    align-items: center; /* Vertikaalselt keskel */
    line-height: 50px; /* Lisa vertikaalne keskpaigutus */
}

<<<<<<<<< Temporary merge branch 1
.header-box {
    width: 100%;
    height: 15%;
    background-color: #eea4eb;
    position: absolute;
    line-height:20px;
}

.phone-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 50px;
    transform: translate(50%, 0); /* Optional for centering */
}

=========
.popup{
    width: 400px;
    height: 360x;
    background-color: #8a80cc;
    border: 4px solid black;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.popup button {
    width: 100%; /* Täidab kogu laiuse, mida tema vanem elemendid lubavad */
    border: none; /* Eemaldab piirjoone */
    border-radius: 8px; /* Lisab nupule ümardatud nurgad */
    background-color: #8a80cc; /* Taustavärv */
    color: black; /* Teksti värv */
    font-size: 32px; /* Teksti suurus */
    padding: 10px; /* Nupu sisemine täitemaht */
    cursor: pointer; /* Muudab kursori näitama, et nupp on klikitav */
    transition: background-color 0.3s, color 0.3s; /* Lisa üleminekumuudatused */
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
>>>>>>>>> Temporary merge branch 2
